

<ion-view view-title="Home" hide-nav-bar="true">
  <ion-content>


    <img class = "login_image" src = "http://i.imgur.com/9lDdLYR.jpg">
    
    <button class="button button-positive button ion-social-facebook fbbutton" on-touch="loginFacebook()"> &nbsp; Log in with Facebook</button>

    <a href="#/signup" class="button button-stable button  createbutton">
        Create an account
    </a>

    <a href="#/loginform" class="button button-stable button loginbutton">
        Log in
    </a>




  </ion-content>
</ion-view>
