

<ion-view view-title="Log in" >
  <ion-content>



        <div class="spacer" style="width: 300px; height: 20px;"></div>
        
            
        <!-- Input form -->
        <ion-list>
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="data.username" ng-change="search()">
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="data.password" ng-change="search()">
            </label>
        </ion-list>
        <!-- End of input form -->
            
            

        <div class="spacer" style="width: 300px; height: 30px;"></div>

        <center>

        <!-- Email login -->
        <button class="button button-outline button-positive" on-tap="login()" style = "width:70%;">
            Log in
        </button>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

        <p>

        </center>
        
        </form>




  </ion-content>
</ion-view>
