

<ion-view view-title="<i class ='ion-{{icon}}'></i> &nbsp;{{answer_text}}" hide-back-button = "false" >

<!--      <ion-nav-buttons side="left">
  <a on-tap = "goToAccount()" class="button button-clear">
    <i class = "ion-chevron-left"></i>&nbsp;Back
  </a>
</ion-nav-buttons> -->


  <ion-content>

<!-- IMAGE -->
    <img class = "login_image" src = "{{imageLink}}" style = "height: {{height}}px;" on-double-tap="heart()">

    <div class = "loginsubheader" style = "left:{{left_margin}}px; font-size:60px; top: 0px; ">
        <span>
            {{answer}}
        </span>
    </div>
<!-- END OF IMAGE -->

<!-- LIKE -->

<!--   <div class = "row">
      
      <div ng-if="is_hearted == 'true'">
        <div class="col">
            <a class="button button-icon clear" on-tap = "unheart()">
              <i class ="ion-ios-heart assertive" style = "font-size: 30px;"></i>
            </a>
        </div>
      </div>

      <div ng-if="is_hearted == 'false'">
        <div class="col col-20">
            <a class="button button-icon clear" on-tap = "heart()">
              <i class ="ion-ios-heart-outline assertive" style = "font-size: 30px;"></i>
            </a>
        </div>
      </div>
      
  </div> -->

<!-- END OF LIKE -->


<!-- COMMUNITY -->
<hr style = "width:20%">
<div class = "row">
  <div class = "col col-100">
    <center><h4><i class = "ion-person-stalker positive"></i>&nbsp;{{rank}} place out of {{total_guesses}} guesses</h4></h4></center>
  </div>
</div>

  <div class = "row">
      
      <div class="col col-33">
        <center><h4>{{distance}} km</h4></center>
        <center><p>Your guess</p></center>
      </div>

      <div class="col col-33">
        <center><h4>{{avg_guess}} km</h4></center>
        <center><p>Avg guess</p></center>
      </div>

      <div class="col col-33">
        <center><h4>{{best_guess}} km</h4></center>
        <center><p>Best guess</p></center>
      </div>

  </div>

<!-- FRIENDS -->
<hr style = "width:20%">
<div class = "row">
  <div class = "col col-100">
    <center><h4><i class = "ion-social-facebook positive"></i>&nbsp; {{friends_text}}</h4></center>
  </div>
</div>

<ion-item collection-repeat="friend in friends_result_combined" style = "border:0px;">
    <div class = "row">

      <div class = "col col-20">
        <img src = "{{friend.fb_picture}}" class = "profile_pic">
      </div>

      <div class = "col col-40">
        <center>{{friend.name}}</center>
      </div>

      <div class = "col col-40" align="right">
        {{friend.distance}} km
      </div>

    </div>
</ion-item>
<!-- END OF FRIENDS -->

<div class = "row">
  <div class = "col col-100">
    <center>
      <p>{{friends_text_subheader}}</p>
    </center>
    
  </div>
</div>

</div>







  </ion-content>
</ion-view>
