<ion-view view-title="Take the Tent" hide-back-button="true" cache-view="false">


<!-- BEGINNING OF NAV BUTTONS -->
<!-- http://ionicframework.com/docs/api/directive/ionNavButtons/ -->
<ion-nav-buttons side="secondary">
  <button class="button" on-touch="logout()">
    Logout
  </button>
</ion-nav-buttons>
<!-- END OF NAV BUTTONS -->

  <ion-content>

   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refresh()">
  </ion-refresher>

  <div class="spacer" style="width: 300px; height: 20px;"></div>

<!--   <center>
    <a class="button button-outline button-positive" href = "">
      Tap to see places you've answered
    </a>
  </center> -->

  <div class="spacer" style="width: 300px; height: 20px;"></div>

  <!-- BEGINNING OF REPEATING -->
    <ion-list>

      

      <ion-item collection-repeat="item in locations" style = "border-color:white;" >
        

        <!-- START OF IMAGE -->
         <!-- <p class = "ion-locked" style = "margin-left:10px;">&nbsp;&nbsp;<strong>Guess to unlock</strong></p> -->
              <div class="item item-image">
              <img class = "image" src = "{{item.attributes.imageLink}}">
              </div>
            <!-- END OF IMAGE -->

            <!-- START OF BUTTONS -->

             <div class = "row"> 

               

  <div class="col">    <center>        <a class="button button-icon icon ion-earth positive" href= "#/tab/guess/{{item.id}}/{{item.attributes.Lat}}/{{item.attributes.Long}}">
                
              </a></center></div>
  <div class="col"><center><a class="button button-icon icon ion-heart ">  </a></center></div>

    
            </div>

            <!-- END OF BUTTONS -->






      </ion-item>
    </ion-list>
  <!-- END OF REPEATING -->


  </ion-content>
</ion-view>
