<ion-view view-title="Take the Tent" hide-back-button="true">


<!-- BEGINNING OF NAV BUTTONS -->
<!-- http://ionicframework.com/docs/api/directive/ionNavButtons/ -->
<ion-nav-buttons side="secondary">
  <button class="button" on-touch="logout()">
    Logout
  </button>
</ion-nav-buttons>
<!-- END OF NAV BUTTONS -->

  <ion-content>

  <!-- BEGINNING OF REPEATING -->
    <ion-list>

            <div class="spacer" style="width: 300px; height: 40px;"></div>

      <ion-item collection-repeat="item in locations" >
        
        <!-- {{item.id}} -->

        <div class="list card">
            

            <!-- START OF IMAGE -->
            <div class="item item-image">
              <img class = "image" src = "{{item.attributes.imageLink}}">
            </div>
            <!-- END OF IMAGE -->

            <!-- START OF BUTTONS -->
            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href= "#/tab/guess/{{item.id}}/{{item.attributes.Lat}}/{{item.attributes.Long}}">
                <i class="icon ion-earth calm"></i>
                Guess
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-chatbox calm"></i>
                Comment
              </a>
            </div>
            <!-- END OF BUTTONS -->

        </div>

        <div class="spacer" style="width: 300px; height: 30px;"></div>

      </ion-item>
    </ion-list>
  <!-- END OF REPEATING -->




<!-- START OF CARD -->
    <div class="list card">

<!--   <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div> -->

  <!-- START OF IMAGE -->
  <div class="item item-image">
    <img class = "image" src = "http://i.imgur.com/cJRGYbk.jpg">
  </div>
  <!-- END OF IMAGE -->


  <!-- START OF BUTTONS -->
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href= "#/tab/guess/9dPYhRnFFi/37.7460/-119.5329">
      <i class="icon ion-earth calm"></i>
      Guess
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox calm"></i>
      Comment
    </a>
  </div>
  <!-- END OF BUTTONS -->

  </div>
  <!-- END OF CARD -->








  </ion-content>
</ion-view>
