/* Empty. Add your own CSS if you like */
.image { 
   /*position: relative; */
   width: 100%; /* for IE 6 */
   height: 100%;
}

.profile_pic{
	border-radius: 50%;
	height: 50px;
   position: absolute;
   top: 20px;
   /*left: 40px;*/
}


.login_image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   /*height: 100%;*/
}

.profile_background_image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   height: 100px;
   -webkit-filter: brightness(50%);
   /*opacity: 1.5;*/
   /*height: 100%;*/
}


.fbbutton { 
   position: absolute; 
   bottom: 170px; 
   width: 70%;
   opacity: 0.9;
}

.createbutton { 
   position: absolute; 
   bottom: 100px; 
   width: 70%;
   opacity: 0.9;
}

.loginbutton { 
   position: absolute; 
   bottom: 30px; 
   width: 70%;
   opacity: 0.9;
}

.logintitle {
   position: absolute; 
   top: 135px; 
   width: 100%;
   color:white;
}



.username_profile_text{
   position: absolute; 
   top: 200px; 
   width: 100%;
   color:white;
}

.profile_username_text{
   position: absolute; 
   top: 100px;
   left: 30%; 
   width: 100%;
   color:white;
}

.profile_username_text span {
   color: white; 
   font: bold 18px/20px Helvetica, Sans-Serif;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}


.logintitle span { 
   color: white; 
   font: bold 28px/20px Helvetica, Sans-Serif;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.loginsubheader{
   position: absolute; 
   top: 200px; 
   width: 100%;
   color:white;
}

.loginsubheader span {
   color: white; 
   font: bold 18px/20px Helvetica, Sans-Serif;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
